<% content_for :title, "Edit Subscription" %>

<div class="container">
	<div class="logo">
		<h1>Gitly</h1>
		<p class="introduction">Update your favourite languages</p>
	</div>

	<div class="errors">
		<p id="error_message">Error</p>
	</div>

	<div id="new_sub">
		<%= form_tag update_subscription_path, :method => :post, :remote => :false, :id => "edit_sub_form" do %>
			<select id="select-category" name="categories[]" multiple="multiple" class="selectized" style="width: 100%; display: none;" placeholder="What languages are you interested in? (e.g. Ruby, Objective-C)" tabindex="-1">
				<%= options_from_collection_for_select(Category.all, :id, :name) %>
			</select>
			<%= hidden_field_tag 'auth_token', @user.auth_token %>
			<%= submit_tag "Update", :class => "button" %>
		<% end %>
	</div>

	<div class="promises">
		<p>We promise <strong>never</strong> to share your email or details with anyone.</p>
		<p>Built with love by <a href="http://www.minicorp.co" target="_blank">MiniCorp</a> in Dublin, Ireland.</p>
	</div>
</div>



<script type="text/javascript">
	var $select = $('#select-category').selectize();
	var control = $select[0].selectize;

	<% @user.subscriptions.each do |subscription| %>
		control.addItem(<%= subscription.category_id %>);
	<% end %>

	$(".errors").hide();

	function IsEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}

	$( "#edit_sub_form	" ).submit(function( event ) {
		$(".errors").show();


		var selectedValues = $('#select-category').val();
		if (selectedValues) {
			$("#error_message").text("Saving...");
		} else {
			$("#error_message").text("Please select at least one language.");
			return false;
		}

	});

</script>