<% content_for :title, "Weekly emails of trending open source projects on GitHub for your favourite languages" %>

<div class="container">
	<div class="logo">
		<h1>Gitly</h1>
		<p class="introduction">Grab weekly emails of what open source projects are <%= link_to 'trending', 'https://github.com/trending', :target => "_blank" %> on Github for the languages you're interested in. <%= link_to "Example of what you'll receive.", "http://c.minicorp.ie/image/182V401v3M2M/o", :target => "_blank" %></p>
		<p class="introduction" style="margin-top:10px;"><strong><%= number_with_delimiter(Subscription.all.count) %></strong> people are subscribed to Gitly.</p>
	</div>

	<div class="errors">
		<p id="error_message">Error</p>
	</div>

	<div id="new_sub">
		<%= form_tag subscriptions_path, :method => :post, :remote => :false, :id => "new_sub_form" do %>
			<select id="select-category" name="categories[]" multiple="multiple" class="selectized" style="width: 100%; display: none;" placeholder="What languages are you interested in? (e.g. Ruby, Objective-C)" tabindex="-1">
				<%= options_from_collection_for_select(Category.all, :id, :name) %>
			</select>
			<%= text_field_tag :email, "", :placeholder => "Your email address", :class => "selectize-input", :id => "email" %><br />
			<%= submit_tag "Subscribe", :class => "button" %>
		<% end %>
	</div>

	<div class="promises">
		<p>We promise never to share your email or details with anyone.</p>
		<p>Built with love by <a href="http://www.minicorp.co" target="_blank">MiniCorp</a> in Dublin, Ireland.</p>
		<p style="padding-top:10px;"><iframe src="http://ghbtns.com/github-btn.html?user=bkenny&repo=Gitly&type=fork&count=false"
  allowtransparency="true" frameborder="0" scrolling="0" width="50" height="20"></iframe></p>
	</div>
</div>



<script type="text/javascript">
	$('#select-category').selectize();

	$(".errors").hide();

	function IsEmail(email) {
	  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	  return regex.test(email);
	}

	$( "#new_sub_form	" ).submit(function( event ) {
		$(".errors").show();
		if ( IsEmail($( "#email" ).val())) {

			var selectedValues = $('#select-category').val();
			if (selectedValues) {
				$("#error_message").text("Saving...");
			} else {
				$("#error_message").text("Please select at least one language.");
				return false;
			}
		} else {
			$("#error_message").text("Please use a valid email address.");
			return false;
		}
	});

</script>
