<!DOCTYPE html>
<html>
<head>
  <title>Gitly &bull; <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" src="//use.typekit.net/cnm6ivo.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <%= csrf_meta_tags %>

  <meta name="author" content="Brian Kenny">
  <meta name="description" content="Weekly emails of what projects are trending on GitHub for the languages you're interested in.">
  <meta name="keywords" content="GitHub trending, GitHub trending by language, Open Source trending projects, GitHub trending languages, GitHub trending by language">
</head>
<body>

<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44692597-8', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
